<html> 
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Tarefas</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1>Tarefas</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tarefa</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
          {{#each tasks}}
          <tr>
            <th scope="row">
                  <a href="/tasks/{{this.id}}">{{this.id}}</a>
            </th>
            <td>{{this.title}}</td>
            <td>
              <a href="/tasks/{{this.id}}/edit" class="btn btn-primary">Editar</a>
              <form action="/tasks/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" value="submit" onclick="return confirm('Tem certeza que deseja apagar?')" class="btn btn-danger">Excluir</button>
              </form>
            </td>
          </tr>
          {{/each}}
      </tbody>
    </table>
    <a href="/tasks/create" class="btn btn-success">Nova Tarefa</a>
    </div>
  </body>
</html>